@import "keep-react/css";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body{
  font-family: "League Spartan", sans-serif;
}
.login-form .modal-box{
  max-width: 60% !important;
}

.social-hide{
  display: none !important;
  transition: 2s ease-in-out;
}
.main-nav-style{
  background: rgb(226 232 240 );
  color: black !important;
}